<section class="content" ng-controller="GroupTabController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-primary card-outline">
          <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">
              <span class="fa fa-th">&nbsp;Group Manager - {{HeadingText}}</span>
            </h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item"><a class="nav-link" ng-class="isActive(3, 'Group.Manage.Website')" ui-sref="Group.Manage.Website({GroupId:GroupId})"  data-toggle="tab" aria-expanded="false">Website</a></li>
              <li class="nav-item"><a class="nav-link" ng-class="isActive(3, 'Group.Manage.Module')">Module</a></li>
              <li class="nav-item"><a class="nav-link" ng-class="isActive(3, 'Group.Manage.User')" ui-sref="Group.Manage.User({GroupId:GroupId})"  data-toggle="tab" aria-expanded="false">User</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" ui-view="TabsView">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
