<section class="content" ng-init="onLoadChangePasswordPage()">
  <div class="container-fluid">
    <div class="row pd10">
      <div class="col-sm-1"></div>
      <!-- left column -->
      <div class="col-md-10">
        <!-- general form elements -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3> Change Password</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->        <!-- form start -->
          <form class="form-horizontal" name="ChangePasswordForm" ng-submit="ChangePasswordForm.$valid && onChangePasswordSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label>Current Password</label>
                <input type="password" class="form-control" name="CurrentPassword" placeholder="Current Password" ng-model="ChangePassword.CurrentPassword" required>
                <span ng-show="ChangePasswordForm.CurrentPassword.$touched || ChangePasswordForm.$submitted">
                  <small class="help-block" ng-show="ChangePasswordForm.CurrentPassword.$error.required" style="color:red">
                    Please enter Current Password.
                  </small>
                </span>
              </div>

              <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" ng-model="ChangePassword.NewPassword" name="NewPassword"
                       placeholder="New Password" required>
                <span ng-show="ChangePasswordForm.NewPassword.$touched || ChangePasswordForm.$submitted">
                  <small class="help-block" ng-show="ChangePasswordForm.NewPassword.$error.required" style="color:red">
                    Please enter New Password.
                  </small>
                </span>
              </div>

              <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control"  ng-model="ChangePassword.ConfirmNewPassword" name="ConfirmNewPassword"
                       placeholder="Confirm New Password" required>
                <span ng-show="ChangePasswordForm.ConfirmNewPassword.$touched || ChangePasswordForm.$submitted">
                  <small class="help-block" ng-show="ChangePasswordForm.ConfirmNewPassword.$error.required" style="color:red">
                    Please Confirm New Password.
                  </small>
                </span>
              </div>

              <div class="form-group col-sm-6 col-centered">
                <button type="submit" class="btn btn-block btn-primary btn-lg">Save</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
