<section class="content" ng-init="onLoadAdd()">
  <div class="container-fluid">
    <div class="row pd10">
      <div class="col-sm-1"></div>
      <!-- left column -->
      <div class="col-md-10">
        <!-- general form elements -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3>Create New Environment</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->        <!-- form start -->
          <form class="form-horizontal" name="EnvironmentForm" ng-submit="EnvironmentForm.$valid && addEnvironment()">
            <div class="card-body">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="Environment.Name" name="Name" placeholder="Name" required>
                <span ng-show="EnvironmentForm.Name.$touched || EnvironmentForm.$submitted">
        <small class="help-block" ng-show="EnvironmentForm.Name.$error.required" style="color:red">Please enter name.
        </small>
        </span>
              </div>

              <div class="form-group">
                <label> Description </label>
                <input type="text" class="form-control" ng-model="Environment.Description" name="Description" placeholder="Description" >
              </div>

              <div class="form-group col-sm-6 col-centered">
                <button type="submit" class="btn btn-block btn-primary btn-lg">Save</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
