<ol class="breadcrumb">
  <li ng-repeat="step in steps | limitTo:(steps.length-1)" class="breadcrumb-item">
      <a ng-show="step.ncyBreadcrumb.label.indexOf('{{') == 0" href="{{step.ncyBreadcrumbLink}}" ng-bind-html="step.ncyBreadcrumbLabel"></a>
      <a ng-show="step.ncyBreadcrumb.label.indexOf('{{') != 0" href="{{step.ncyBreadcrumbLink}}" ng-bind-html="step.ncyBreadcrumbLabel"></a>
  </li>
  <li ng-repeat="step in steps | limitTo:-1" class="breadcrumb-item active">
    <span ng-bind-html="step.ncyBreadcrumbLabel"></span>
  </li>
</ol>
