
<section class="content" ng-init="getPageById();loadData();">
  <div class="container-fluid">
    <div class="row pd10">
      <div class="col-sm-1"></div>
      <!-- left column -->
      <div class="col-md-10">
        <!-- general form elements -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3> Update Page</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->        <!-- form start -->
          <form class="form-horizontal" name="PagesForm" ng-submit="PagesForm.$valid && updatePage()">
            <div class="card-body">
              <div class="form-group">
                <label>Value</label>
                <input type="text" class="form-control" ng-model="Page.Value" name="Value" placeholder="Value" required>
                <span ng-show="PagesForm.Value.$touched || PagesForm.$submitted">
                  <small class="help-block" ng-show="PagesForm.Value.$error.required" style="color:red">Please enter value.</small>
                </span>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
               <textarea type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="Page.Description"
                         name="Description" placeholder="Description"></textarea>
              </div>

              <div class="form-group col-sm-6 col-centered">
                <button type="submit" class="btn btn-block btn-primary btn-lg">Save</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
